@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* @apply base {
  p{
  text-emerald-500
  }
} */

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  margin: auto;
  min-width: 320px;
  min-height: 100vh;
}


@layer components {
  .containerMode {
    @apply container mx-auto px-5;
  }
  .dash-bg-image{
    background: url('../src/assets/images/dashboard/bg_ellipse1.png') right top no-repeat, url('../src/assets/images/dashboard/bg_ellipse2.png') -8% bottom no-repeat;;
  }
  .custom-btn{@apply min-w-[100px] transition-all duration-300 p-2 rounded-full}

  /* MODAL COMPONENT */
  .modal-container{
    animation-name: zoom;
    animation-duration: .2s;
    animation-timing-function: linear;
    @apply w-4/5 max-w-[600px] bg-white shadow-md rounded-2xl overflow-hidden
    
  }
  .modal-header { 
    @apply w-full flex items-center justify-between p-5 py-8 border-b bg-primary-default
  }
  .modal-title { 
    @apply text-2xl leading-8 font-bold text-white dark:text-white tracking-wide flex items-center
  }
  .modal-close-btn { 
    @apply text-white dark:text-red-500
  }
  .modal-body { 
    @apply w-full p-5 min-h-[150px] max-h-[500px] overflow-y-auto flex flex-col justify-center items-center
  }
  .modal-footer { 
    @apply w-full p-5 border-t flex justify-evenly items-center gap-4
  }
  /* MODAL COMPONENT */
}


@layer utilities {

  /* ANIMATIONS */
  @keyframes zoom {
    0%{transform: scale(1)}
    50%{transform: scale(1.03);}
    100%{transform: scale(1);}
  }

}